.hd_blue {
	background-color: #33ffff;
}

.hd_pink {
	background-color: #ff52ff;
}

.hd_yellow {
	background-color: #f2ff00;
}

.hd_darkpink {
	background-color: #d436cf;
}

.hd_brown {
	background-color: #d9b087;
}

.hd_darkbrown {
	background-color: #89673a;
}

.hd_orangeyellow {
	background-color: #f5cc45;
}

.hd_lightblue {
	background-color: #54edff;
}

.hd_black {
	background-color: #262c30;
}

html {
	font-weight: 400;
}

nav {
	height: 91px;
	line-height: 91px;
}

.nav-wrapper {
	position: fixed;
	z-index: 100;
}

.nav-img {
	height: 91px;
	width: auto;
}

.nav-li {
	font-size: 1.5rem;
}

.nav-icon {
    line-height: 90px !important;
}

.parallax-container {
	position: fixed;
	overflow: visible;
	width: 100%;
	height: 850px;
}

.parallax-layer {
	width: 100%;
	height: 600px;
	position: fixed;
	left: 0;
	top: 0;
	background-position: bottom center;
	background-repeat: repeat-x;
	background-size: 960px 253px;
}

.layer-0 {
	top: 125px;
    z-index: 100;
    background: url('../images/logo.png') no-repeat top 40px center;
    background-size: 300px 169px;
}


.layer-1 {
    top: -175px;
    z-index: 6;
    background: url('../images/chocolate_donut.png') no-repeat center left 375px;
    background-size: 175px 175px;
}

.layer-2 {
    top: 125px;
    z-index: 5;
    background: url('../images/orange_donut.png') no-repeat center left 825px;
    background-size: 200px 200px;
}

.layer-3 {
    top: 150px;
    z-index: 10;
    background: url('../images/pink_donut.png') no-repeat center left 600px;
    background-size: 200px 200px;
}

.layer-4 {
    top: -225px;
    z-index: 6;
    background: url('../images/blue_donut.png') no-repeat center left 840px;
    background-size: 200px 200px;
}

.layer-5 {
    top: 80px;
    z-index: 91;
    background: url('../images/blue_donut.png') no-repeat center left 300px;
    background-size: 250px 250px;
}

.layer-6 {
    top: 350px;
    z-index: 92;
    background: url('../images/chocolate_donut.png') no-repeat center left 500px;
    background-size: 310px 310px;
}

.layer-7 {
    top: 325px;
    z-index: 93;
    background: url('../images/blue_donut.png') no-repeat center left 900px;
    background-size: 350px 350px;
}

.layer-8 {
    top: 0px;
    z-index: 94;
    background: url('../images/chocolate_donut.png') no-repeat center left 900px;
    background-size: 400px 400px;
}

.layer-9 {
    top: 0px;
    z-index: 95;
    background: url('../images/pink_donut.png') no-repeat center left -150px;
    background-size: 400px 400px;
}

.layer-10 {
    top: -250px;
    z-index: 96;
    background: url('../images/orange_donut.png') no-repeat center left 30px;
    background-size: 340px 340px;
}

.layer-11 {
    top: 500px;
    z-index: 97;
    background: url('../images/orange_donut.png') no-repeat center left 1150px;
    background-size: 450px 450px;
}

.layer-12 {
    top: -50px;
    z-index: 98;
    background: url('../images/pink_donut.png') no-repeat center left 1100px;
    background-size: 500px 500px;
}

.layer-13 {
    top: 250px;
    z-index: 99;
    background: url('../images/chocolate_donut.png') no-repeat center left -150px;
    background-size: 600px 600px;
}

.content {
	position: absolute;
	top: 825px;
	width: 100%;
	min-height: 1500px;
}

.content h1 {
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    text-align: center;
}

.content h3 {
    color: #fff;
    font-size: 1.25em;
    text-align: center;
}

.page-footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
}

footer.page-footer {
    background-color: #03A9F4;
}

/* Temporary pallette */
.dark-primary-color    { background: #0288D1; }
.default-primary-color { background: #03A9F4; }
.light-primary-color   { background: #B3E5FC; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFEB3B; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }