.hd_blue {
	background-color: #33ffff;
}

.hd_pink {
	background-color: #ff52ff;
}

.hd_yellow {
	background-color: #f2ff00;
}

.hd_darkpink {
	background-color: #d436cf;
}

.hd_brown {
	background-color: #d9b087;
}

.hd_darkbrown {
	background-color: #89673a;
}

.hd_orangeyellow {
	background-color: #f5cc45;
}

.hd_lightblue {
	background-color: #54edff;
}

.hd_black {
	background-color: #262c30;
}